{% extends "base.html" %}

{% block title %}Авторизация{% endblock %}

{% block body %}
    <h1>Авторизация</h1>
    {% if form.errors %}
        <p>
            Пользователя с таким именем не найдено.
        </p>
    {% else %}
        <p>Пожалуйста, заполнител поля:</p>
    {% endif %}
    <div class="login-form">
        <form action="{% url "login" %}" method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}" />
            <p><input type="submit" value="Log-in"></p>
        </form>

        <p><a href="{% url "password_reset" %}">Забыли пароль?</a></p>
    </div>
{% endblock %}