{% extends "base.html" %}

{% block title %}Сбросить пароль{% endblock %}

{% block body %}
    <h1>Сбросить пароль</h1>
    {% if validlink %}
        <p>Пожалуйста, дважды введите новый паролль:</p>
        <form action="." method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Изменить пароль" /></p>
        </form>
    {% else %}
        <p>Ссылка изменения пароля уже неактивна. Повторите запрос на изменение пароля.</p>
    {% endif %}
{% endblock %}