{% extends "base.html" %}

{% block title %}Авторизация{% endblock %}

{% block body %}
    <h1>Авторизация</h1>
    <p>Пожалуйста, введите данные в поля ниже. Если у вас нет акканута,  вы можете <a href="{% url "register" %}"
                                                                                        >зарегистрироваться</a></p>
    <form action="." method="post">
        {{ form.as_table }}
        {% csrf_token %}
        <p><input type="submit" value="Log in"></p>
    </form>

    <p><a href="{% url "password_reset" %}">Забыли пароль?</a></p>
{% endblock %}