{% load static %}

<style>
    div.cinema {
        float: left;
        width: 10%;
        height: 50px;
        background-size: 40%;
        background-position: center;
        background-repeat: no-repeat;

        position: relative;
}
</style>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>
        {% block title %}
            THIS IS EPIC SHIT
        {% endblock%}
    </title>
</head>

<body>

    <div class="header-wrapper">
        <header>
            <div class="menu">
                <div class="cinema" style="background-image: url('../static/images/cinema-512.png');">
                    <a href="/"></a>
                </div>

                <nav>
                    <ul class="main-menu">

                        <li class="">
                            <a class="main-link" href="/timetable/">Кинотеатры</a>
                        </li>

                        <li class="">
                            <a class="main-link" href="/films/">Сеансы</a>
                        </li>

                        <li class="">
                            <a class="main-link" href="/news/">О сайте</a>
                        </li>


                    {% if request.user.is_authenticated %}
                        <li {% if section == "dashboard" %}class="selected"{% endif %}>
                            <a class="main-link" href="{% url "dashboard" %}">My dashboard</a>
                        </li>
                        <li {% if section == "images" %}class="selected"{% endif %}>
                            <a class="main-link" href="#">Images</a>
                        </li>
                        <li {% if section == "people" %}class="selected"{% endif %}>
                            <a class="main-link" href="#">People</a>
                        </li>
                    {% endif %}

                    </ul>
                </nav>




            <span class="user">
                {% if request.user.is_authenticated %}
                    Hello {{ request.user.first_name }},
                    <a class="main-link" href="{% url "logout" %}">Logout</a>
                {% else %}
                    <a class="main-link" href="{% url "login" %}">Log-in</a>
                {% endif %}
            </span>

            </div>
        </header>
    </div>

    <div class="content-wrapper">
        {% block body %}
            <h2>111111111111</h2>
        {% endblock %}
    </div>


    <div class="footer-wrapper">
        <footer>
            <div class="lfooter">
                <ul>

                    <li class="">

                        <a class="main-link" href="/footer/about/">О сайте</a>

                    </li>


                    <li class="">

                        <a class="main-link" href="/footer/cinemas/">О кинотеатрах</a>

                    </li>

                </ul>
            </div>

            <div class="rfooter">
                <span>© 2019 Nikolaev Pavel</span>
            </div>
        </footer>
    </div>
</body>

</html>